name: Java CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Run Tests
        run: mvn test


      - name: Deploy to Heroku
        if: github.ref == 'refs/heads/main' && success()
        env:
          HEROKU_API_KEY: "HRKU-bc39cc65-2318-4833-bb47-9fc78aa8fc44"
          HEROKU_APP_NAME: "skillfactory-calculator"
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh          
          echo $HEROKU_API_KEY | heroku auth:token
          git remote add heroku https://git.heroku.com/agile-retreat-95765.git
          git push heroku HEAD:main
